html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-image: linear-gradient(to right top, #24a745, #438540, #45a039, #24a745, #24a745);
}

.header
{
	color: rgb(64, 223, 43);font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
.header img
{
	width: 90px;margin-left: -15px;
}

.login_div
{
	background: rgba(199, 238, 24, 0.8);float: none;border-radius: 20px;
}

.logo
{
	width: 90px;margin-top: 32px;border-radius: 40px;
}

#login_button
{
	width: 100%;border-radius: 25px;
	color: rgba(41, 221, 122, 0.692);
}

.room_name
{
	cursor: pointer;
	font-size: 20px;
	color: maroon;
}


#logout
{
	font-size: 20px; float: right;
	color: darkmagenta;
}


#output
{
	padding: 10px; width:80%;background: rgba(80, 97, 192, 0.884);border-radius: 15px;
	color: darksalmon;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: rgb(98, 210, 224);font-size: 20px;
}


.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(73, 238, 31, 0.8);
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{
	color: rgba(225, 238, 39, 0.445)
}

.user_tick
{
	width:20px;
}
.message_h4
{
	padding-left:5px;color:grey;
}
h4
{
	color: rgb(202, 100, 41);
}
h3
{
	color: rgb(232, 253, 156);
}
label
{
	color: rgb(81, 194, 141);
}